{% extends 'base.html' %}
{% block primary %}
<div>
    <h1>PikWiz</h1>
</div>

<script>
    // document.body.classList.add("dark")
</script>

<div id="main" class="container">
    <div id="image-upload-container" class="container">

        <div id="image-display-container" class="container">
            <div id="filler"></div>
            <div id="msg">
                Upload or Drag & Drop Image
            </div>
            <input id="photo-upload" name="photo-upload" type="file" accept="image/*" style="display: none;">
            <div id="image-preview">
                <img src="" alt="">
            </div>
        </div>
        
        <div class="btn-bar">
            <div id="clear-btn" class="btn">Clear All</div>
            <div id="extract-prompt-btn" class="btn">Extract Details</div>
        </div>
    </div>

    <div id="image-generation-details-container" class="container">
        <div id="grid-url" class="details-grid">
            <div id="imageurl" class="detail-wrapper">
                <div class="detail-label">Image URL:</div>
                <input class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            </div>
        </div>

        <div id="grid-1" class="details-grid">
            <div id="model-checkpoint" class="detail-wrapper">
                <div class="detail-label">Model/Checkpoint:</div>
                <input class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            </div>
            <div id="vae" class="detail-wrapper">
                <div class="detail-label">VAE:</div>
                <input class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            </div>
        </div>

        <div id="grid-2" class="details-grid">
            <div id="positive-prompt" class="detail-wrapper">
                <div class="detail-label">Positive Prompt:</div>
                <textarea class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
            </div>
            
            <div id="negative-prompt" class="detail-wrapper">
                <div class="detail-label">Negative Prompt:</div>
                <textarea class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
            </div>

            <div id="loras" class="detail-wrapper">
                <div class="detail-label">Loras:</div>
                <textarea class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
            </div>

            <div id="weighted-tags" class="detail-wrapper">
                <div class="detail-label">Weighted Tags:</div>
                <textarea class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false"></textarea>
            </div>
        </div>

        <div id="grid-3" class="details-grid">
            <div id="sampler" class="detail-wrapper">
                <div class="detail-label">Sampler:</div>
                <input class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            </div>

            <div id="schedule-type" class="detail-wrapper">
                <div class="detail-label">Schedule Type:</div>
                <input class="detail-text" autocomplete="off" autocorrect="off" spellcheck="false" type="text">
            </div>
        </div>
        
        <div id="grid-4" class="details-grid">

            <div id="steps" class="detail-wrapper hz">
                <div class="detail-label">Steps:</div>
                <input class="detail-text steps" autocomplete="off" autocorrect="off" spellcheck="false" autofill="off" type="number">
            </div>

            <div id="cfg-scale" class="detail-wrapper hz">
                <div class="detail-label">CFG Scale:</div>
                <input class="detail-text cfg-scale" autocomplete="off" autocorrect="off" spellcheck="false" autofill="off" type="number">
            </div>

            <div id="seed" class="detail-wrapper hz">
                <div class="detail-label">Seed:</div>
                <input class="detail-text seed" autocomplete="off" autocorrect="off" spellcheck="false" autofill="off" type="number">
            </div>

        </div>

        <div id="grid-last" class="details-grid">
            <div id="copy-raw" class="btn">Copy Data</div>
            <div id="copy-raw-with-seed" class="btn">Copy Data (with Seed)</div>
        </div>
    </div>

    <!-- <div id="image-generation-rawmeta-container" class="container"></div> -->

</div>
{% endblock primary %}